################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.

/java/target/classes
/java/lib
/java/.idea
/dotnet/Liberator.SequaliserTests/obj/Release
/dotnet/Liberator.Sequaliser/obj/Release
/dotnet/Liberator.DynamicPageEngine/obj/Release
/dotnet/Liberator.DynamicPageEngine/bin/Debug
/.vs
/dotnet/Liberator.DynamicPageEngineTests
/dotnet/Liberator.Tests.Driver/bin/Debug/netcoreapp2.2
/dotnet/Liberator.DynamicPageEngine/obj
*.user
/dotnet/Liberator.DriverTests/obj
