*.suo
/.vs
/.vs/*
/obj/*
/packages/*
/bin/*
Liberator.Tests.Driver/bin/
Liberator.Tests.Driver/obj/
Liberator.Package/bin/
Liberator.Package/obj/
Liberator/bin/
Liberator/obj/
Liberator.Driver/obj/
Liberator.Driver/bin/
Liberator.Driver/BrowserDrivers/Profiles/

