<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </configSections>
  <appSettings>
    <!--Base data for the driver-->
    <add key="DriverPath" value="\BrowserDrivers\" />
    <add key="TestDrivers" value="\BrowserDrivers\" />
    <add key="Driver" value="Firefox" />
    <add key="Timeout" value="0,0,0,30,0" />
    <add key="Sleep" value="0,0,0,20,0" />
    <add key="ImplicitWait" value="0,0,0,10,0" />
    <add key="MenuHoverTime" value="0,0,0,10,0" />
    <add key="PageLoad" value="0,0,0,30,0" />
    <add key="AsynchronousJavaScript" value="0,0,0,10,0" />
    <add key="ConsoleDebugLevel" value="StackTrace" />
    <add key="AlertHandling" value="True" />
    <add key="InternalTimers" value="True" />
    <!--Chrome Driver Settings-->
    <add key="Chrome_BinaryLocation" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" />
    <add key="Chrome_DebuggerAddress" value="" />
    <add key="Chrome_LeaveBrowserRunning" value="False" />
    <add key="Chrome_MinidumpPath" value="\Outputs\" />
    <add key="ChromePerformance_BufferUsageReportingInterval" value="0,0,0,1,0" />
    <add key="ChromePerformance_IsCollectingNetworkEvents" value="True" />
    <add key="ChromePerformance_IsCollectingPageEvents" value="True" />
    <add key="ChromePerformance_IsCollectingTimelineEvents" value="True" />
    <add key="Chrome_CapabilityList" value="" />
    <add key="Chrome_TracingCategories" value="devtools.timeline" />
    <add key="Chrome_ExtensionsList" value="" />
    <add key="Chrome_LocalStatePreferences" value="" />
    <add key="Chrome_UserProfilePreferences" value="" />
    <!--Chrome Driver Service Settings-->
    <add key="ChromeDriver_AndroidDebugBridgePort" value="5037" />
    <add key="ChromeDriver_BinaryLocation" value="" />
    <add key="ChromeDriver_EnableVerboseLogging" value="true" />
    <add key="ChromeDriver_HideCommandPromptWindow" value="false" />
    <add key="ChromeDriver_LogPath" value="/Logs/" />
    <add key="ChromeDriver_Port" value="4444" />
    <add key="ChromeDriver_PortServerAddress" value="" />
    <add key="ChromeDriver_SuppressInitialDiagnosticInformation" value="false" />
    <add key="ChromeDriver_WhitelistedIPAddresses" value="" />
    <!--Chrome Driver Mobile Emulation Settings-->
    <add key="ChromeMobileEmulation_EnableTouchEvents" value="True" />
    <add key="ChromeMobileEmulation_Height" value="360" />
    <add key="ChromeMobileEmulation_PixelRatio" value="3" />
    <add key="ChromeMobileEmulation_UserAgent" value="Mozilla/5.0 (Linux; U; Android 4.3; en-us; SM-N900T Build/JSS15J) AppleWebKit/534.30 (KHTML, like Gecko) Version/4.0 Mobile Safari/534.30" />
    <add key="ChromeMobileEmulation_Width" value="640" />
    <!--Edge Driver Settings-->
    <add key="Edge_PageLoadStrategy" value="Eager" />
    <add key="Edge_DriverPath" value="C:\Program Files\MicrosoftWebDriver" />
    <!--Edge Driver Service Settings-->
    <add key="Edge_HideCommandPromptWindow" value="False" />
    <add key="Edge_Host" value="" />
    <add key="Edge_Package" value="" />
    <add key="Edge_Port" value="4444" />
    <add key="Edge_SuppressInitialDiagnosticInformation" value="False" />
    <add key="Edge_UseVerboseLogging" value="True" />
    <!--Firefox Base Settings-->
    <add key="Firefox_BinaryPath" value="C:\Program Files (x86)\Mozilla Firefox\firefox.exe" />
    <add key="Firefox_LoadTimeout" value="" />
    <!--Firefox Driver Settings-->
    <add key="Firefox_ExecutableLocation" value="C:\Program Files (x86)\Mozilla Firefox\firefox.exe" />
    <add key="Firefox_LogLevel" value="Trace" />
    <add key="Firefox_ProfileDirectory" value="\BrowserDrivers\Profiles" />
    <add key="Firefox_CleanProfile" value="False" />
    <add key="Firefox_UseLegacyImplementation" value="False" />
    <!--Firefox Profile Settings-->
    <add key="Firefox_AcceptUntrustedCertificates" value="True" />
    <add key="Firefox_AlwaysLoadNoFocusLibrary" value="True" />
    <add key="Firefox_AssumeUntrustedCertificateIssuer" value="True" />
    <add key="Firefox_DeleteAfterUse" value="False" />
    <add key="Firefox_EnableNativeEvents" value="False" />
    <add key="Firefox_Port" value="4444" />
    <!--Firefox Proxy Settings-->
    <add key="Firefox_ProxyPreferences" value="" />
    <!--Firefox Driver Server Settings-->
    <add key="Firefox_CommunicationPort" value="-1" />
    <add key="Firefox_ConnectToRunningBrowser" value="False" />
    <add key="Firefox_DriverPath" value="BrowserDrivers\" />
    <add key="Firefox_HideCommandPromptWindow" value="False" />
    <add key="Firefox_Host" value="" />
    <add key="Firefox_SuppressInitialDiagnosticInformation" value="False" />
    <!-- Firefox Preferences-->
    <add key="Firefox_Preferences" value="" />
    <!--Internet Explorer Driver Options-->
    <add key="IE_CommandLineArguments" value="" />
    <add key="IE_ScrollBehavior" value="Top" />
    <add key="IE_EnableFullPageScreenshot" value="True" />
    <add key="IE_EnableNativeEvents" value="True" />
    <add key="IE_EnablePersistentHover" value="True" />
    <add key="IE_EnsureCleanSession" value="False" />
    <add key="IE_ForceCreateProcessApi" value="False" />
    <add key="IE_ForceShellWindowsApi" value="False" />
    <add key="IE_IgnoreZoomLevel" value="True" />
    <add key="IE_InitialBrowserUrl" value="http://www.totallyratted.com" />
    <add key="IE_IntroduceInstability" value="True" />
    <add key="IE_PageLoadStrategy" value="Eager" />
    <add key="IE_RequireWindowFocus" value="False" />
    <add key="IE_UnexpectedAlertBehavior" value="Default" />
    <add key="IE_UsePerProcessProxy" value="False" />
    <!--Internet Explorer Driver Service Settings-->
    <add key="IE_HideCommandPromptWindow" value="True" />
    <add key="IE_Host" value="" />
    <add key="IE_LibraryExtractionPath" value="" />
    <add key="IE_LogFile" value="" />
    <add key="IE_LoggingLevel" value="Debug" />
    <add key="IE_Port" value="4444" />
    <add key="IE_SuppressInitialDiagnosticInformation" value="False" />
    <add key="IE_WhitelistedIPAddresses" value="" />
    <!--Internet Explorer Proxy Settings-->
    <add key="IE_FtpProxy" value="" />
    <add key="IE_HttpProxy" value="" />
    <add key="IE_IsAutoDetect" value="False" />
    <add key="IE_ProxyKind" value="" />
    <add key="IE_NoProxy" value="" />
    <add key="IE_ProxyAutoConfigUrl" value="" />
    <add key="IE_SocksPassword" value="" />
    <add key="IE_SocksProxy" value="" />
    <add key="IE_SocksUserName" value="" />
    <add key="IE_SslProxy" value="" />
    <!--Opera Driver Settings-->
    <add key="Opera_BinaryLocation" value="C:\Program Files\Opera\launcher.exe" />
    <add key="Opera_DriverPath" value="\BrowserDrivers" />
    <add key="Opera_DebuggerAddress" value="" />
    <add key="Opera_LeaveBrowserRunning" value="False" />
    <add key="Opera_MinidumpPath" value="" />
    <!--Opera Driver Service Settings-->
    <add key="Opera_AndroidDebugBridgePort" value="-1" />
    <add key="Opera_EnableVerboseLogging" value="False" />
    <add key="Opera_HideCommandPromptWindow" value="True" />
    <add key="Opera_LogPath" value="" />
    <add key="Opera_Port" value="4444" />
    <add key="Opera_PortServerAddress" value="" />
    <add key="Opera_SuppressInitialDiagnosticInformation" value="True" />
    <add key="Opera_UrlPathPrefix" value="" />
    <!--Phantom JS Driver Options Settings-->
    <add key="PhantomJs_LogLevel" value="All" />
    <add key="PhantomJs_LogType" value="Browser" />
    <add key="PhantomJs_CapabilityList" value="" />
    <!--Phantom JS Driver Service Settings-->
    <add key="PhantomJs_ConfigFile" value="" />
    <add key="PhantomJs_CookiesFile" value="\BrowserDrivers\Cookies.txt" />
    <add key="PhantomJs_DiskCache" value="False" />
    <add key="PhantomJs_GhostDriverPath" value="\BrowserDrivers" />
    <add key="PhantomJs_GridHubUrl" value="" />
    <add key="PhantomJs_HideCommandPromptWindow" value="False" />
    <add key="PhantomJs_IgnoreSslErrors" value="False" />
    <add key="PhantomJs_IPAddress" value="" />
    <add key="PhantomJs_LoadImages" value="True" />
    <add key="PhantomJs_LocalStoragePath" value="" />
    <add key="PhantomJs_LocalStorageQuota" value="0" />
    <add key="PhantomJs_LocalToRemoteUrlAccess" value="False" />
    <add key="PhantomJS_LogFile" value="" />
    <add key="PhantomJs_MaxDiskCacheSize" value="0" />
    <add key="PhantomJs_OutputEncoding" value="utf8" />
    <add key="PhantomJs_Port" value="6666" />
    <add key="PhantomJs_Proxy" value="" />
    <add key="PhantomJs_ProxyAuthentication" value="" />
    <add key="PhantomJs_ProxyType" value="http" />
    <add key="PhantomJs_ScriptEncoding" value="utf8" />
    <add key="PhantomJs_SslCertificatesPath" value="" />
    <add key="PhantomJs_SslProtocol" value="sslv3" />
    <add key="PhantomJs_SuppressInitialDiagnosticInformation" value="False" />
    <add key="PhantomJs_WebSecurity" value="False" />
    <add key="PhantomJs_ArgumentList" value="" />
    <!--Remote Web Driver Settings-->
    <add key="Remote_DefaultRemoteAddress" value="" />
    <add key="Remote_DesiredCapabilities" value="" />
    <!--Other Settings-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.122.0.0 - 4.65535.65535.65535" newVersion="4.122.18.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
<system.data>
<DbProviderFactories>
<remove invariant="Oracle.ManagedDataAccess.Client" />
<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
</DbProviderFactories>
</system.data>
<oracle.manageddataaccess.client>
<version number="*">
<dataSources>
<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
</dataSources>
</version>
</oracle.manageddataaccess.client>
</configuration>
